/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --bg-page: url("../images/cover-image-dark.png");
  --accent-color: #ff0070;
  --main-color: #000028;
  --paragraph-color: #f1b2ce;
  --title-color: #db00ff;

  .decoration {
    display: block;
  }

  .main .section__title {
    color: var(--accent-color);
  }

   .decorated-zone::before {
    background-image: url(../images/dark-border-top-right.png);
  }

  .decorated-zone::after {
    background-image: url(../images/dark-border-bottom-left.png);
  }

  .header__theme-menu-button {
    color: var(--accent-color);
  }

  .header__theme-menu-button:disabled {
    outline: 1px solid var(--accent-color);
  }

  .header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-color);
}

.header__theme-menu-button:hover:enabled {
  outline: 1px solid  #ff007066;
}
}
