/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --bg-page: url("../images/cover-image-light.png");
  --accent-color: #ff8dcb;
  --main-color: #353430;
  --paragraph-color: #353430;
  --font-size-regular: 18px;
  --title-color: #ffc2e6;

  .decoration {
    display: none;
  }

  .section__title {
    color: var(--main-color);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-page: url("../images/cover-image-light.png");
    --accent-color: #ff8dcb;
    --main-color: #353430;
    --paragraph-color: #353430;
    --font-size-regular: 18px;
    --title-color: #ffc2e6;
  }

  .decoration {
    display: none;
  }

  .section__title {
    color: var(--main-color);
  }
}
