/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --bg-page: url("../images/cover-image-light.png");
  --accent-color: #ff8dcb;
  --main-color: #353430;
  --paragraph-color: #353430;
  --font-size-regular: 18px;
  --title-color: #ffc2e6;

  .decoration {
    display: none;
  }

  .section__title {
    color: var(--main-color);
  }

  .decorated-zone::before {
    background-image: url(../images/light-border-top-right.png);
  }

  .decorated-zone::after {
    background-image: url(../images/light-border-bottom-left.png);
  }

  .header__theme-menu-button {
    color: var(--main-color);
  }

  .header__theme-menu-button:disabled {
    outline: 1px solid var(--main-color);
  }

  .header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--main-color);
}

.header__theme-menu-button:hover:enabled {
  outline: 1px solid  rgb(50 49 45 / 0.4) ;
}
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-page: url("../images/cover-image-light.png");
    --accent-color: #ff8dcb;
    --main-color: #353430;
    --paragraph-color: #353430;
    --font-size-regular: 18px;
    --title-color: #ffc2e6;
  }

  .decoration {
    display: none;
  }

  .section__title {
    color: var(--main-color);
  }

  .decorated-zone::before {
    background-image: url(../images/light-border-top-right.png);
  }

  .decorated-zone::after {
    background-image: url(../images/light-border-bottom-left.png);
  }

  .header__theme-menu-button {
    color: var(--main-color);
  }

  .header__theme-menu-button:disabled {
    outline: 1px solid var(--main-color);
  }

  .header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--main-color);
}

.header__theme-menu-button:hover:enabled {
  outline: 1px solid  rgb(50 49 45 / 0.4) ;
}
}
