/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-font: 'IBM Plex mono', monospace;
  --font-bold: 700;
  --font-regular: 400;
  --font-size-regular: 18px;
  --bg-page: url("../images/cover-image-dark.png");
  --accent-color: #ff0070;
  --main-color: #000028;
  --paragraph-color: #f1b2ce;
  --title-color: #db00ff;
}
